[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:gabrielelana/vim-markdown.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static
	ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-sexp-mappings-for-regular-people"]
	path = bundle/vim-sexp-mappings-for-regular-people
	url = git@github.com:tpope/vim-sexp-mappings-for-regular-people.git
[submodule "bundle/vim-sexp"]
	path = bundle/vim-sexp
	url = git@github.com:guns/vim-sexp.git
	ignore = dirty
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = git@github.com:xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-clojure-highlight"]
	path = bundle/vim-clojure-highlight
	url = git@github.com:guns/vim-clojure-highlight.git
[submodule "bundle/vim-salve"]
	path = bundle/vim-salve
	url = git@github.com:tpope/vim-salve
[submodule "bundle/vim-projectionist"]
	path = bundle/vim-projectionist
	url = git@github.com:tpope/vim-projectionist
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace
